---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

interface Props {
	title: string;
	description: string;
	pageClass?: string;
}

const { title, description, pageClass } = Astro.props;
---

<!doctype html>
<html lang="zh-CN">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body>
		<div class="site-shell">
			<Header />
			<main class:list={['page-shell', pageClass]}>
				<slot />
			</main>
			<Footer />
		</div>
	</body>
</html>